body {
  font-family: 'Roboto', sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 40, 121, 0.8018557764902836) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
.container {
  width: 70%;
  margin: 5rem auto;
  background-color: #e2eafc;
  border-radius: 1rem;
  padding-bottom: 2rem;
}
.form-container {
  width: 50%;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
}
.heading {
  text-align: center;
  padding-top: 2rem;
  letter-spacing: 5px;
  color: rgb(0, 191, 255);
}
.area-values {
  width: 80px;
}
input,
select {
  border: 1px solid rgb(202, 229, 238);
  outline-color: lightblue;
  border-radius: 5px;
  padding: 5px;
}

.submitBtn {
  font-size: 18px;
  font-weight: 700;
  color: whitesmoke;
  background-color: rgb(91, 206, 245);
  margin-top: 2rem;
  width: 150px;
  padding: 10px;
  align-self: center;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: #00b4d8;
  color: white;
}
